namespace = "thinbridge-win10-1809"
windows-username = "clearcode"
windows-password = "%PASSWORD%"
windows-language-pack-url = ""
flash-installer-url = ""
hookdate-download-url = ""
debugview-download-url = ""
old-ie-download-url = ""
chrome-policy-template-url = ""
