on: [push]
name: Build ThinBridge
jobs:
  build:
    runs-on: [ windows-2019 ]
    steps:
      - uses: actions/checkout@v3
      - uses: microsoft/setup-msbuild@v1.2
      - name: Compile x86
        run: msbuild /p:Platform=Win32 /p:Configuration=Release
      - name: Compile x64
        run: |
          msbuild /p:Configuration=Release /p:"Platform=x64;OutDir=$pwd\x64\"
          copy x64\ThinBridgeBHO64.dll Release
      - name: Make Installer (x86)
        run: iscc.exe ThinBridgeX86.iss
      - name: Make Installer (x64)
        run: iscc.exe ThinBridgeX64.iss
      - name: Upload Binaries
        uses: actions/upload-artifact@v3
        with:
          name: Binaries
          path: |
            Release/*.exe
            Release/*.dll
      - name: Upload Installer
        uses: actions/upload-artifact@v3
        with:
          name: Installers
          path: SetupOutput/*.exe
  assets:
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v3
      - name: Build Testing Extensions
        run: |
          cp webextensions/edge/manifest.json.dev webextensions/edge/manifest.json
          make -C webextensions/edge
          cp webextensions/chrome/manifest.json.dev webextensions/chrome/manifest.json
          make -C webextensions/chrome
          make -C webextensions/firefox
      - name: Upload Extensions
        uses: actions/upload-artifact@v3
        with:
          name: WebExtensions
          path: webextensions/*/*.zip
      - name: Upload GPO Templates
        uses: actions/upload-artifact@v3
        with:
          name: Templates
          path: Resources/GPO/*.adm*
